In [19]:
import pandas as pd
df = pd.read_csv("flights_sample.csv" , index_col =0 )
print(df.shape)
df.head(10)

(1000, 2)

                          origin destination
day
2019-01-27 00:00:00+00:00   NZAA        NZWR
2019-01-24 00:00:00+00:00   YSNW        YSNW
2019-01-21 00:00:00+00:00   KSDL        KHND
2019-01-14 00:00:00+00:00   KADS        KIAD
2019-01-14 00:00:00+00:00   OTBH        OTBH
2019-01-05 00:00:00+00:00   KVNY        KU42
2019-01-25 00:00:00+00:00   KGRR        8MI4
2019-01-08 00:00:00+00:00   LFLL        LFPG
2019-01-11 00:00:00+00:00   KADS        77TS
2019-01-25 00:00:00+00:00   LBWN        LSZH

In [10]:
print(df.columns[0])
print(df["origin"])

day
0      NZAA
1      YSNW
2      KSDL
3      KADS
4      OTBH
       ...
995    KHOU
996    LFPG
997    LFPO
998    LTBA
999    LIBD
Name: origin, Length: 1000, dtype: object

In [11]:
import numpy as np
edges = np.unique(np.append(df["origin"] ,df["destination"]))

#edges

In [22]:
''''
dic = {}
for i , k in enumerate(edges[:20]):
  # print(i , k)
  dic[i] = k
# print(dic)
'''

# Map airports in dataframe to their graph number
mapping_dict = {k:i for i,k in enumerate(edges)}
#mapping_dict

df_mapped = df.applymap(lambda x: mapping_dict[x])
print(df_mapped.shape)
df_mapped.head(10)

(1000, 2)

                           origin  destination
day
2019-01-27 00:00:00+00:00     543          550
2019-01-24 00:00:00+00:00     658          658
2019-01-21 00:00:00+00:00     412          308
2019-01-14 00:00:00+00:00     227          316
2019-01-14 00:00:00+00:00     566          566
2019-01-05 00:00:00+00:00     442          438
2019-01-25 00:00:00+00:00     302           60
2019-01-08 00:00:00+00:00     472          479
2019-01-11 00:00:00+00:00     227           48
2019-01-25 00:00:00+00:00     450          522

In [73]:
for date  , flight in df_mapped.iterrows():
  #print(date , flight["origin"])
  pass

a = [[0 for i in range(len(edges))] for j in range(len(edges))]


#print(len(a))

for date  , flight in df_mapped.iterrows():
  i = flight['origin']
  j = flight['destination']
  if(a[i][j] == 0):
    a[i][j] = 1
    a[j][i] = 1
    
for i in range(0 , 20):
  for k in range(0 , 20):
    print(a[i][k] , end = " ")
  print('\n')
  

for date  , flight in df_mapped.iterrows():
  #print(flight['origin'])
  pass

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [120]:
# Can You Fly from A to B  directly?
def check(df , source  , dest):  
  for date , row in df_mapped.iterrows():
    #print({source }, {flight['origin']})
    if({row["origin"] , row["destination"] == source , dest}):
      return True
    
  return False

In [121]:
check(df , "KEWR" , "KDFW")

True

In [122]:

node1, node2 = mapping_dict["KEWR"], mapping_dict["KDFW"]
a[node1][node2] == 1

True